.sidebar-channel:hover > h4{
    cursor: pointer;
    color: white;
    background-color: #40464b;
}

.sidebar-channel > h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: gray;
}

.sidebar-channel-hash{
    font-size: 30px;
    padding: 8px;
}